/* Your styles here */

* {
  font-family: Arial, Helvetica, sans-serif;
}

/* stile caratteri */
h1 {
  font-size: 2.5em;
  font-weight: 600;
  margin-block: 30px;
}

h2 {
  font-size: 1.4em;
  margin-top: 0.4em;
  margin-bottom: 30px;
  font-weight: 600;
}

h3 {
  font-size: 1.2em;
  padding: 10px;
  font-weight: 300;
}

main a {
  font-weight: 700;
  font-size: 0.7em;
  margin-left: 0.9em;
  text-decoration: none;
  color: #176471;
}

/* header + logo + nav */
header {
  background-color: #212f3f;
  height: 80px;
  align-content: center;
}

header div,
nav div {
  width: 1500px;
  margin-inline: auto;
}

header img {
  height: 45px;
  width: auto;
}

nav {
  background-color: #364759;
  width: 100%;
}

/* stile link */
nav ul li {
  font-size: 1.1em;
  font-family: Arial, Helvetica, sans-serif;
  list-style-type: none;
  color: white;
  display: inline-block;
  margin-right: 1em;
  padding-block: 10px;
}

nav a {
  text-decoration: none;
  color: white;
}

header,
nav,
section,
footer {
  color: white;
}

body {
  width: 100%;
  background-color: #e9edee;
}

main {
  width: 1500px;
  margin: 36px;
  margin-inline: auto;
}

/* prime call */
section,
article {
  margin-bottom: 36px;
  text-align: center;
}

.primaC {
  background-color: #f86501;
}

.secondaC {
  background-image: url(../assets/images/bg-image.png);
  background-size: contain;
  background-position: top;
  width: 100%;
  height: 250px;
  align-content: center;
}

.secondaC div {
  height: 150px;
  align-content: center;
}

/* lista gift */
.lista {
  background-color: white;
  color: black;
  height: 520px;
}

.lista div {
  text-align: left;
  padding-inline: 25px;
  padding-bottom: 0;
  padding-top: 20px;
}

.lista h2 {
  margin: 0;
}

/* stile box e immaginili lista */
figure {
  width: 330px;
  height: 430px;
  display: inline-block;
  margin: 20px;
  border-radius: 25px;
  box-shadow: 14px 14px 16px #d1d1d1;
}

figure img {
  width: 100%;
  height: 100%;
  border-radius: 25px;
  object-fit: cover;
}

/* categorie */

/* gaming */

.gaming img {
  width: 100%;
}

/* music */
.music img {
  width: 100%;
}

/* footer e link torna su */
footer {
  text-align: center;
}

.footerlink {
  background-color: #364759;
  width: 100%;
  padding-block: 20px;
  margin-inline: auto;
}

/* stile link */
.tornasu {
  font-weight: 550;
  font-size: 1.1em;
  font-family: Arial, Helvetica, sans-serif;
  color: white;
}

footer div {
  text-align: center;
  background-color: #212f3f;
}

footer img {
  text-align: center;
  padding: 60px;
  height: 60px;
}
